html {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
  margin: 0px;
  border: 0px;
}

#pallette {
  float: left;
  clear: right;
}

#reset, #share
{
  margin-left: 10px;
  margin-top: -3px;
}

a img {
  border: 0;
}

.bubble {
  background: red;
  color: white;
  padding: 4px 4px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 2px;
}

.mycanvas {
  background-color: black;
  height: 100%;
  width: 100%;
}

#params {
  position: fixed;
  top : 10px;
  left: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}